
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    margin-top: 10px;
}
.app {
    margin: 0 2rem;
}
.nav-right {
    display: flex;
    gap: 4rem;
}
.nav-right li {
    list-style-type: none;
    font-size: 1.2rem;
    cursor: pointer;
}
.logo {
    width: 6rem;
}
.footer {
    background-color: cornsilk;
    height: 30vh;
}
.footer-elements {
    display: flex;
    justify-content: center;
}
.footer ul li {
    list-style-type: none;
    font-size: 1.5rem;
    cursor: pointer;
}
.food-container {
    padding: 0px;
    list-style: none;
    margin-block-end: 0px;
    display: grid;
    -webkit-box-align: start;
    align-items: start;
    grid-template-columns: repeat(4, 1fr);
    gap: 32px;
    margin: 32px 16px;
}
.res-card {
    height: 25rem;
    width: 16rem;
    padding: .5rem;
}
.image-container{
    height: 50%;
}
.res-image {
    width: 100%;
    height: 100%;
}
.res-card:hover{
    transform: translateY(-5px);
}
.res-name {
    font-size: 1rem;
    font-weight: bold;
}